<!-- Highlight Card -->

<div class="content" role="main">

  <!-- Highlight Card -->

  <div class="card highlight-card card-small">

    <svg id="rocket" alt="Rocket Ship" xmlns="http://www.w3.org/2000/svg" width="101.678" height="101.678" viewBox="0 0 101.678 101.678">
      <g id="Group_83" data-name="Group 83" transform="translate(-141 -696)">
        <circle id="Ellipse_8" data-name="Ellipse 8" cx="50.839" cy="50.839" r="50.839" transform="translate(141 696)" fill="#dd0031"/>
        <g id="Group_47" data-name="Group 47" transform="translate(165.185 720.185)">
          <path id="Path_33" data-name="Path 33" d="M3.4,42.615a3.084,3.084,0,0,0,3.553,3.553,21.419,21.419,0,0,0,12.215-6.107L9.511,30.4A21.419,21.419,0,0,0,3.4,42.615Z" transform="translate(0.371 3.363)" fill="#fff"/>
          <path id="Path_34" data-name="Path 34" d="M53.3,3.221A3.09,3.09,0,0,0,50.081,0,48.227,48.227,0,0,0,18.322,13.437c-6-1.666-14.991-1.221-18.322,7.218A33.892,33.892,0,0,1,9.439,25.1l-.333.666a3.013,3.013,0,0,0,.555,3.553L23.985,43.641a2.9,2.9,0,0,0,3.553.555l.666-.333A33.892,33.892,0,0,1,32.647,53.3c8.55-3.664,8.884-12.326,7.218-18.322A48.227,48.227,0,0,0,53.3,3.221ZM34.424,9.772a6.439,6.439,0,1,1,9.106,9.106,6.368,6.368,0,0,1-9.106,0A6.467,6.467,0,0,1,34.424,9.772Z" transform="translate(0 0.005)" fill="#fff"/>
        </g>
      </g>
    </svg>

    <span> Welcome to Modensie Web Platform!</span>

  </div>

  <h2>Modensie</h2>
  <p>Here are some pages to help you get started:</p>

  <div class="card-container">
    <a class="card card-back" style="display:none" target="_blank" rel="noopener" (click)="showField('backField')">
      <svg class="material-icons" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M10 6L8.59 7.41 13.17 12l-4.58 4.59L10 18l6-6z"/></svg>
      <span>Back</span>
   </a>

    <a class="card card-register" target="_blank" rel="noopener" (click)="showField('registerField')">
      <svg class="material-icons" width="24" height="24" viewBox="0 0 24 24"><path d="M9.4 16.6L4.8 12l4.6-4.6L8 6l-6 6 6 6 1.4-1.4zm5.2 0l4.6-4.6-4.6-4.6L16 6l6 6-6 6-1.4-1.4z"/></svg>

      <span>Register</span>

      <svg class="material-icons" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M10 6L8.59 7.41 13.17 12l-4.58 4.59L10 18l6-6z"/></svg>
    </a>

    <a class="card card-login" target="_blank" rel="noopener" (click)="showField('loginField')">
      <svg class="material-icons" width="24" height="24" viewBox="0 0 24 24"><path d="M5 13.18v4L12 21l7-3.82v-4L12 17l-7-3.82zM12 3L1 9l11 6 9-4.91V17h2V9L12 3z"/></svg>

      <span>Login</span>

      <svg class="material-icons" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M10 6L8.59 7.41 13.17 12l-4.58 4.59L10 18l6-6z"/></svg>    </a>


  </div>

  <div style="display:none" class="login-form">
    <form>
      <table>
        <tr>
          <td>
            <input matInput placeholder="Username" [(ngModel)]="userAccount.username" name="username" required>
          </td>
        </tr>
        <tr>
          <td>
            <input matInput placeholder="Password" [(ngModel)]="userAccount.password"type="password" name="password" required>
          </td>
        </tr>
        <tr> <td> <h3>{{errorMessage}}</h3> </td> </tr>
      </table>
    </form>
  </div>

  <div style="display:none" class="register-form">
    <form>
      <table>
        <tr> <th>Username</th> <td> <input [(ngModel)]="newUserAccount.username" name="username" required> </td> </tr>
        <tr> <th>Password</th> <td> <input [(ngModel)]="newUserAccount.password" type="password" name="password" required> </td> </tr>
        <tr> <th>Last Name and First Name</th> <td> <input [(ngModel)]="newUserAccount.name" name="name" required> </td> </tr>
        <tr> <th>Birthdate</th> <td> <input [(ngModel)]="newUserAccount.birthdate" type="date" name="birthdate" required> </td> </tr>
        <tr> <th>Gender</th> <td>
          <select id="SelectGender">
            <option value='M'>Masculine</option>
            <option value='F'>Feminine</option>
          </select>
        </td> </tr>
        <tr> <th>Email Address</th> <td> <input [(ngModel)]="newUserAccount.emailAddress" name="emailAddress" required> </td> </tr>
        <tr> <th>Role</th> <td>
          <select id="SelectRole">
            <option value="student">Student</option>
            <option value="teacher">Teacher</option>
          </select>
        </td> </tr>
        <tr> <td> <h3>{{errorMessage}}</h3> </td> </tr>
      </table>
    </form>
  </div>

</div>


