<header>
  <br/><br/>
  <div class="container">
    <ul>
      <li> <a>Account</a> </li>
      <li> <a style="color:rebeccapurple;" href="/{{ linkRole }}"> {{ tabRole }}</a> </li>
      <li> <a style="color:rebeccapurple;" href="/login_page" (click)="logout()">Logout</a> </li>
    </ul>
  </div>

  <h2>Welcome {{ myUser.name }}</h2>

  <div>
    <h2>User Details</h2>
    <table>
      <tr>
        <th>Name</th>
        <th>Username</th>
        <th>Birthdate</th>
        <th>Gender</th>
        <th>Email Address</th>
      </tr>
      <tbody>
      <tr>
        <td>{{myUser.name}}</td>
        <td>{{myUser.username}}</td>
        <td>{{myUser.birthdate}}</td>
        <td>{{myUser.gender}}</td>
        <td>{{myUser.emailAddress}}</td>
      </tr>
      </tbody>
    </table>
  </div>
</header>

<h2 style="cursor: pointer" (click)="showField('passwordField')">Change Password</h2>
<div style="display:none" class="password-field">
  Actual Password: <input [(ngModel)]="oldPassword" type="password" name="old_password" required> <br>
  New Password: <input [(ngModel)]="userPassword.password" type="password" name="new_password" required> <br>
  <button mat-raised-button (click)="changePassword()">Change</button>
  <h3>{{errorMessage}}</h3>
</div>

<h2 style="cursor: pointer" (click)="showField('emailAddressField')">Change Email Address</h2>
<div style="display:none" class="email-address-field">
  New Email Address: <input [(ngModel)]="userEmailAddress.emailAddress" type="text" name="email_address" required> <br>
  <button mat-raised-button (click)="changeEmailAddress()">Change</button>
</div>
